@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /* learn this concept */
}

body {
    background-color: rgb(255, 255, 255);
}

nav img {
    width: 220px;
    height: auto;

}

nav {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 9vh;
    background-color: #efeeee;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

nav span img {
    width: 13px;
    height: auto;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav span:hover {
    color: #1290DD;
    cursor: pointer;
    /* background-color: #1290DD; */
}

nav span {
    padding: 18px;
    color: #000;

    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;

    font-size: 16px;
    font-style: normal;

    line-height: normal;
}

.btn {
    display: flex;
    width: max-content;
    height: px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;

    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3px;

    display: inline-flex;
    height: 60px;
    padding: 0px 18px 0px 18px;
    margin-left: 15px;
    align-items: center;
    flex-shrink: 0;
    background: #1290DD;
    border: none;


}

.btn:hover {
    cursor: pointer;
    background-color: #ffffff00;
}

.btn-wh:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-blue:hover {
    border: 1px solid #1290DD;
    color: #1290DD;
}

.contact img {
    width: 30px;
}

.contact div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact div :first-child {
    margin-top: 15px;
    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
}

.contact div :secopnd-child {
    color: #000;
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact span {
    padding: 1px;
}

.flight {
    position: absolute;
}

.family {
    position: absolute;
    top: 10.5vh;
    left: 58vw;
    right: 40vw;
    z-index: 1;

}

.image-text {
    position: relative;
    top: 10vh;
    left: 13vw;
    width: 35vw;

}

.image-text :first-child {
    color: #EFEFEF;

    font-family: "Martel Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.28px;
}

.image-text :nth-child(2) {
    margin-top: 20px;
    color: #ffffff;
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;

    letter-spacing: 0.4px;
}

.btn-wh {
    background-color: #ffffff;
    color: #1290DD;
    z-index: 1;
    position: relative;
    top: 120px;
    left: 200px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 650;
    font-size: 16px;
    letter-spacing: 3px;

}





/* Preloader full screen */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

/* Celebration text style */
.celebration-text {
    font-size: 2rem;
    font-weight: bold;
    color: #e67e22;
    animation: bounce 2s ease-in-out infinite;
}

/* Bounce animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Fade out after delay */
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


.main-box {
    position: relative;
    top: 44vh;
    left: 13vw;
    width: 654px;
    height: 750px;

}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    position: absolute;
    z-index: 1;
    width: 58px;
    top: 24px;
    left: 45px;
}

.box1 .icon {
    top: 31px;
    left: 40px;
}

.line {
    position: absolute;
    z-index: 1;
    width: 55px;
    top: 108px;
    left: 45px;
}

.main-box h3 {
    position: absolute;
    top: 120px;
    left: 45px;
    z-index: 1;

    color: #000;

    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-box p {
    position: absolute;
    top: 170px;
    margin-left: 38px;
    z-index: 1;
    margin-right: 38px;

    color: #7F8088;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.box1 h3 {
    color: #ffffff;
}

.box1 p {
    color: #ffffff;
}



.box {
    position: absolute;
    padding: 10px;

}

/* Positioning each box differently */
.box1 {
    top: 0;
    left: 0;
    width: 327px;
    height: 360px;

}

.box2 {
    top: 0;
    right: 0;
    width: 327px;
    height: 360px;
    margin-top: 20px;
}

.box3 {
    bottom: 0;
    left: 0;
    width: 327px;
    height: 360px;
    margin-bottom: 30px;
}

.box4 {
    bottom: 0;
    right: 0;
    width: 327px;
    height: 360px;
    padding-top: 0px;
}

.about-company {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 540px;
    height: 850px;
    top: -44vh;
    right: -54.5vw;
}

.about img {
    padding-right: 5px;
}

.about {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    background-color: #FEE6E5;
    width: max-content;
    padding: 8px;
    font-family: 'Nunito Sans', sans-serif;
    color: #1290DD;
    letter-spacing: 3px;
}

.about-company h3 {
    width: 523px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    padding-bottom: 30px;
}

.about-company h5 {
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    padding-bottom: 20px;
}

.about-company div div h5 {
    border-bottom: 1px solid #7F8088;
    margin-bottom: 20px;
}

.about-company p {
    color: #7f8088;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 50px;
}

.about-company div {
    display: flex;
    justify-content: space-around;
}

.about-company div div {
    display: flex;
    flex-direction: column;
}

.about-company div span {
    display: flex;
}

.about-company div p {
    padding-right: 40px
}

.about-company div div span img {
    position: relative;
    top: -20px;
    padding-right: 5px;
    border-bottom: 1px solid #7F8088;
}

.about-company button {
    position: absolute;
    left: 0px;
    margin-left: 0;
}

.score {
    background-color: #ffffff;
    display: flex;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-evenly;
    position: relative;
    top: -300px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.score div {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}

.score div :nth-child(1) {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 46px;
    font-weight: bold;
    line-height: 51px;
    color: rgb(8, 25, 33);
}

.score div :nth-child(2) {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #7f8088;
}

.section {
    background-color: #7F8088;
    width: 1px;
    height: 90px;
    justify-items: center;
}

.score div :nth-child(1) :first-child :first-child {
    color: #1290DD;
    font-size: 24px;
    position: relative;
    top: -8px;
    left: 6px;
}


.contact-popup {
    position: absolute;
    display: flex;
    position: fixed;
    right: 30px;
    top: 90vh;
    background-color: rgb(151, 111, 194);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1000;
}

/* Rotate msg icon */
.toggle-icon {
    transition: transform .5s ease;
}

.rotate-icon {
    transform: rotate(180deg);
    /* or 360deg for full rotation */
}

.contact-popup :nth-child(1) {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 30px;
    height: auto;
}

.contact-popup :hover {
    cursor: pointer;
}

.contact-popup :nth-child(2) {
    background-color: #1290DD;
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}

.contact-popup :nth-child(3) {
    background-color: #e67e22;
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: bottom 0.5s ease, opacity 0.5s ease;

}

@keyframes slideUpPhoneCall {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@keyframes slideUpWhatsapp {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 140px;
        opacity: 1;
    }
}

.phoneCall-slideUp {
    animation: slideUpPhoneCall 0.5s ease forwards;
    display: block;
    position: absolute;
    opacity: 1;
}

.whatsapp-slideUp {
    animation: slideUpWhatsapp 0.5s ease forwards;
    display: block;
    position: absolute;
    opacity: 1;
}

@keyframes slideDownPhoneCall {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes slideDownWhatsapp {
    from {
        bottom: 140px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }

}

.phoneCall-slideDown {
    animation: slideDownPhoneCall 0.5s ease backwards;
    /* display: none; */
    position: absolute;
    opacity: 0;
}

.whatsapp-slideDown {
    animation: slideDownWhatsapp 0.5s ease backwards;
    /* display: none; */
    position: absolute;
    opacity: 0;
}

@media (max-width: 800px) {
    .nav {
        background-color: #000;
    }
}



.experience {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: rgb(8, 17, 22);
    color: #f5f5f5;
    justify-content: center;
    /* align-content: center; */
    padding: 100px 0;
    /* margin: 100px; */

}

.header {
    text-align: center;
}

.header span {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(53, 64, 68);
    width: max-content;
    padding: 8px;
    font-family: 'Nunito Sans', sans-serif;
    color: #f5f5f5;
    letter-spacing: 3px;
    gap: 8px;
}

.header h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 46px;
    line-height: 51px;
    font-weight: 700;
    letter-spacing: 2px;
}

.header p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
    margin-top: 50px;
    color: rgb(158, 160, 171);
    width: calc(min(800px, 30%));
}

.down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.left {
    width: 40%;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */


}

.left :first-child {
    /* display: inline-flex; */
    justify-content: left;
    color: rgb(158, 160, 171);
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 3px;

}

.left :nth-child(2) {
    /* display: inline-flex; */
    justify-content: left;
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    margin-bottom: 50px;

}

.left :nth-child(3) {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgb(158, 160, 171);
    margin-bottom: 50px;
}

.left :nth-child(4) {
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 3px;
    background-color: #00000000;
}

.left :nth-child(4) div div {
    display: flex;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1290DD;
}

.right {

    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: ; */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

}




.ripple-circle {
    padding: 15px;
    position: relative;
    width: 100px;
    height: 100px;
    /* background-color: #3498db; */
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

/* Ripple */
.ripple-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 3s infinite ease-in-out;
    z-index: -1;
}

.circle svg {
    margin: auto;
    width: 30px;
    height: 30px;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(.5);
        opacity: 1;
        background-color: #ffffff;
    }

    30% {
        transform: translate(-50%, -50%) scale(.7);
        opacity: 0.8;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.5;
    }

    85% {
        transform: translate(-50%, -50%) scale(1.7);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0.1;
    }
}

.left div:hover {
    cursor: pointer;
}

.progressBar {
    border: none;
    margin-top: 5px;
    width: 100%;
    height: 4px;
    background-color: #46464a;
    /* dark gray base */
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.line1,
.line2 {
    border: none;
    height: 100%;
    width: 0;
    border-radius: 2px;
    animation-fill-mode: forwards;
}

.line1 {
    background-color: #1290DD;
    animation: lineIncrease1 2s ease-in-out forwards;
}

.line2 {
    background-color: #65bf11;
    animation: lineIncrease2 2s ease-in-out forwards;
}

.cnt1,
.cnt2 {
    width: max-content;
    background-color: #e67e22;
    display: inline-block;
    /* position: absolute; */
}

.cnt1 {
    animation: moveRight1 2s ease-in-out forwards;
}

.cnt2 {
    animation: moveRight2 2s ease-in-out forwards;
}

@keyframes moveRight1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(280px);
    }

}

@keyframes moveRight2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(250px);
    }

}

@keyframes lineIncrease1 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes lineIncrease2 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}



/* Training & Certification */

.training-certification {
    position: relative;
    top: 100px;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center children horizontally */
    
}

.training-certification>.main-container {
    max-width: 1200px;
    width: 100%;
    /*Optional: Ensures responsiveness */
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.container-up {
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    
    gap: 20px;
}

.container-down {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    

}

.training-certification .box {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #fff;
    /* border: 2px solid rebeccapurple; */
    margin: 26px 0;
    gap: 10px;
}

.coaching {
    width: 560px;
    height: 376px;
    /* background-color: #ff7676; */
}

.box>div {
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frame {
    width: 100%;
}

.box>div>img {
    width: 40px;
    height: 40px;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-40px);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.7;
    }

    20% {
        opacity: 0.3;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.01;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    35% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: .88;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.box>div:hover {
    animation: slideUp .7s ease-in-out forwards;
    cursor: pointer;

}
.box > div hr{
    border: none;
    background-color: #7F8088;
    width: 40px;
    height: 2px;
    /* transition: background-color 0.7s ease; */
}
.box > div:hover hr {
    background-color: #1290DD;
}

.coaching h3 {
    color: #121111;
    font-size: 40px;
}

.coaching p {
    color: #2d2a2a;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* On hover, hide the image and show the button */
.box:hover div img {
    animation: hide .7s ease-in-out forwards;
}

.box>div>button {
    opacity: 0;
    background-color: #128fdd00;
    color: #1290DD;
}

.box:hover div button {
    animation: show .7s ease-in-out forwards;
}
