@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* learn this concept */
}

body {
    background-color: rgb(255, 255, 255);
}

nav img {
    width: 220px;
    height: auto;

}

nav {
    width: 100vw;
    height: 9vh;
    background-color: #efeeee;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

nav span img {
    width: 13px;
    height: auto;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav span:hover {
    color: #1290DD;
    cursor: pointer;
    /* background-color: #1290DD; */
}

nav span {
    padding: 18px;
    color: #000;

    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;

    font-size: 16px;
    font-style: normal;

    line-height: normal;
}

.btn {
    display: flex;
    width: max-content;
    height: px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;

    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3px;

    display: inline-flex;
    height: 60px;
    padding: 0px 18px 0px 18px;
    margin-left: 15px;
    align-items: center;
    flex-shrink: 0;
    background: #1290DD;
    border: none;

}

.contact img {
    width: 30px;
}

.contact div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact div :first-child {
    margin-top: 15px;
    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
}

.contact div :secopnd-child {
    color: #000;
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact span {
    padding: 1px;
}

.flight {
    position: absolute;
}

.family {
    position: absolute;
    top: 10.5vh;
    left: 58vw;
    right: 40vw z-index: 1;

}

.image-text {
    position: relative;
    top: 10vh;
    left: 13vw;
    width: 35vw;

}

.image-text :first-child {
    color: #EFEFEF;

    font-family: "Martel Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.28px;
}

.image-text :nth-child(2) {
    margin-top: 20px;
    color: #ffffff;
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;

    letter-spacing: 0.4px;
}

.btn-wh {
    background-color: #ffffff;
    color: #1290DD;
    z-index: 1;
    position: relative;
    top: 120px;
    left: 200px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 650;
    font-size: 16px;
    letter-spacing: 3px;

}





/* Preloader full screen */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

/* Celebration text style */
.celebration-text {
    font-size: 2rem;
    font-weight: bold;
    color: #e67e22;
    animation: bounce 2s ease-in-out infinite;
}

/* Bounce animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Fade out after delay */
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


.main {
    position: relative;
    top: 44vh;
    left: 13vw;
    width: 654px;
    height: 750px;

}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon {
    position:absolute;
    z-index: 1;
    width: 58px;
    top:24px;
    left: 45px;
}
.box1 .icon {
    top: 31px;
    left: 40px;
}
.line{
    position: absolute;
    z-index: 1;
    width: 55px;
    top: 108px;
    left: 45px;
}

.main h3 {
    position: absolute;
    top: 120px;
    left: 45px;
    z-index: 1;

    color: #000;

    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main p {
    position: absolute;
    top: 170px;
    margin-left: 38px;
    z-index: 1;
    margin-right: 38px;

    color: #7F8088;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.box1 h3 {
    color: #ffffff;
}

.box1 p {
    color: #ffffff;
}



.box {
    position: absolute;
    padding: 10px;

}

/* Positioning each box differently */
.box1 {
    top: 0;
    left: 0;
    width: 327px;
    height: 360px;

}

.box2 {
    top: 0;
    right: 0;
    width: 327px;
    height: 360px;
    margin-top: 20px;
}

.box3 {
    bottom: 0;
    left: 0;
    width: 327px;
    height: 360px;
    margin-bottom: 30px;
}

.box4 {
    bottom: 0;
    right: 0;
    width: 327px;
    height: 360px;
    padding-top: 0px;

}

